html, body {
  height: 100%; /* Убедитесь, что html и body занимают 100% высоты */
  margin: 0; /* Уберите отступы по умолчанию */
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Заставляет контейнер занимать всю высоту экрана */
}
